<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <title>MatchFour</title>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body id="main">

<div class="about container">
    <h1>MatchFour originally created by...</h1>
    <div class = "aboutUs row">
        <div class="aboutHand col-12 col-sm-2">
            <i style="color: white;" class="pointRight fa fa-hand-pointer-o fa-rotate-90 fa-2x"></i>
            <i style="color: white;" class="pointDown fa fa-hand-pointer-o fa-rotate-180 fa-2x"></i>
        </div>
        <div class="aboutSlots col-12 col-sm-2">
            <div class="dev">
                <p>Tammy</p>
                <div class="socMedia">
                    <a target="_blank"  href="https://github.com/ctam91">
                        <i class="fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/tmychang">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="aboutSlots col-12 col-sm-2">
            <div class="dev">
                <p>Daniele</p>
                <div class="socMedia">
                    <a target="_blank"  href="https://github.com/mikupgirl">
                        <i class="fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/daniele-franklin-4b0a8122">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="aboutSlots col-12 col-sm-2">
            <div class="dev">
                <p>Jen</p>
                <div class="socMedia">
                    <a target="_blank"  href="https://github.com/jharkreader">
                        <i class="fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/jennifer-h-6023a8149">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="aboutSlots col-12 col-sm-2">
            <div class="dev">
                <p>Diane</p>
                <div class="socMedia">
                    <a target="_blank"  href="https://github.com/dianezev">
                        <i class="fa fa-github"></i>
                    </a>
                    <a target="_blank" href="https://www.linkedin.com/in/dianezev">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="aboutCheck col-12 col-sm-2">
            <i style="color: limegreen;" class="fa fa-check fa-2x"></i>
        </div>
    </div>
    <h4 class="returnToGame">

        <!--TO DO: Diane is stuck here - not sure how to get this link to route to game.html-->
        <a href="#" id="goToGame">Return to game <i class="fa fa-chevron-circle-right fa-1x"></i></a>
    </h4>
</div>

<!--  note bootstrap 3.3.7 doesn't have navbar and 4.0.0-beta not working for navbar-->
<!--  also: jquery included here because full bootstrap functionality requires jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script src="js/script.js"></script>

</body>
</html>
