<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 align="center" th:text="${title}">Default Title</h1>

<h2 align="center">Please enter a username and password (maxmimum 8 characters): </h2>
<br />
<form th:align="center" method="post" style="margin=0 auto;" th:object="${user}"> <!--add action to correct path-->
    <div style="text-align:center" class="form-group">
        <label th:for="name">Name</label>
        <input class="form-control" th:field="${user.name}" />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div style="text-align:center" class="form-group">
        <label th:for="Password">Password</label>
        <input class="form-control" type="password" th:field="${user.password}" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <input th:align="center" type="submit" value="Let's Play!" />
</form>

</body>
</html>